repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-toml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: ["sqlmodel", "types-python-dateutil"]
        args:
          [
            --ignore-missing-imports,
            --warn-redundant-casts,
            --no-namespace-packages,
          ]

  - repo: https://github.com/rhysd/actionlint
    rev: "v1.7.10"
    hooks:
      - id: actionlint

  - repo: https://github.com/biomejs/pre-commit
    rev: "v2.3.10"
    hooks:
    -   id: biome-check
        additional_dependencies: ["@biomejs/biome@1.9.4"]

exclude: "mondey_backend/openapi.json|frontend/src/lib/client"
