@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
	/* Sub classes, not for use in HTML */
	body {
		@apply dark:text-white;
		min-height: 100vh;
		display: flex;
		flex-direction: column; /* To force the footer to the bottom with flex grid */
	}

	.main-content {
		flex: 1; /* This will grow to fill available space leaving the footer at the bottom */
	}

	.btn:hover {
		cursor: pointer;
		@apply transition-all duration-100;
	}

	.text-btn {
		@apply py-2 px-5 rounded-md;
		min-width: 12rem;
		margin: 0.25rem;
	}

	.text-primary {
		color: #2757ac;
	}

	.text-muted {
		color: #838383;
	}

	.text-base {
		@apply text-gray-900 dark:text-gray-100;
	}

	.bg-primary {
		background-color: rgb(124, 158, 157);
	}

	/* Basic button icon styles */
	.btn-icon {
		min-width: unset;
		@apply py-2 px-2 rounded-md relative;
		position: relative;
		background-color: white;
	}

	.btn-primary.btn-icon {
		@apply text-primary-700 dark:text-white bg-white dark:bg-primary;
	}

	/* Button icon group styling */
	.btn-icon + .btn-icon {
		margin-left: -10px; /* Negative margin to make borders overlap */
	}

	/* Remove border radius between adjacent buttons */
	.btn-icon:not(:first-child):not(:last-child) {
		border-radius: 0;
	}

	/* Keep left border radius for first button */
	.btn-icon:first-child:not(:only-child) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	/* Keep right border radius for last button */
	.btn-icon:last-child:not(:only-child) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.btn-icon-rounded {
		border-radius: 0.5rem !important;
	}

	/* Make sure the button that's being hovered appears on top */
	.btn-icon:hover {
		z-index: 1;
	}

	h4 {
		@apply text-2xl;
	}

	.z-1000 {
		z-index: 1000;
	}

	.z-1001 {
		z-index: 1001;
	}

	.circle {
		display: inline-block;
		width: 1.2em;
		height: 1.2em;
		border-radius: 50%;
		background-color: #3498db;
		vertical-align: middle;
		margin: 0 0.2em;
	}

	@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
		.btn {
			min-width: 100%;
		}
		.btn-icon {
			min-width: unset;
		}
	}

	:root {
		--range-handle: #3322ff;
		--range-range-inactive: #000000;
	}

	/* For countering tailwind wiping list item defaults etc */
	.restore-default-list-elements-behavior ul {
		list-style-type: disc;
		padding-left: 1.5rem;
		margin: 1rem 0;
	}

	.restore-default-list-elements-behavior ol {
		list-style-type: decimal;
		padding-left: 1.5rem;
		margin: 1rem 0;
	}

	.restore-default-list-elements-behavior li {
		margin: 0.25rem 0;
	}
}
