@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
	/* Sub classes, not for use in HTML */
	body {
		@apply dark:text-white;
	}

	.btn:hover {
		cursor: pointer;
		@apply transition-all duration-100;
	}

	.text-btn {
		@apply py-2 px-5 rounded-md;
		min-width: 12rem;
		margin: 0.25rem;
	}

	.text-primary {
		color: #2757ac;
	}

	.text-muted {
		color: #838383;
	}

	.text-base {
		@apply text-gray-900 dark:text-gray-100;
	}

	.bg-primary {
		background-color: rgb(124, 158, 157);
	}

	/* Basic button icon styles */
	.btn-icon {
		min-width: unset;
		@apply py-2 px-2 rounded-md relative;
		position: relative;
		background-color: white;
	}

	.btn-primary.btn-icon {
		@apply text-primary-700 dark:text-white bg-white dark:bg-primary;
	}

	/* Button icon group styling */
	.btn-icon + .btn-icon {
		margin-left: -10px; /* Negative margin to make borders overlap */
	}

	/* Remove border radius between adjacent buttons */
	.btn-icon:not(:first-child):not(:last-child) {
		border-radius: 0;
	}

	/* Keep left border radius for first button */
	.btn-icon:first-child:not(:only-child) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	/* Keep right border radius for last button */
	.btn-icon:last-child:not(:only-child) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.btn-icon-rounded {
		border-radius: 0.5rem !important;
	}

	/* Make sure the button that's being hovered appears on top */
	.btn-icon:hover {
		z-index: 1;
	}

	@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
		.btn {
			min-width: 100%;
		}
		.btn-icon {
			min-width: unset;
		}
	}
}
